<h1>Books#edit</h1>
<p>Find me in app/views/books/edit.html.erb</p>
<%= form_for @book, url: book_path, method: :patch do |f| %>
  <%# ↓エラーあった場合の表示 %>
  <% if @book.errors.any? %>
    <%= @book.errors.count %>個のエラー！
      <% @book.errors.full_messages.each do |e| %>
        <br><%= e %>
      <% end %>
  <% end %>
  <%# ↑エラーあった場合の表示 %>
  <p>
    <%= f.text_field :title %>
  </p>
    <p>
    <%= f.text_area :text %>
  </p>
  <%= f.submit %>
<% end %>